$color: (
color1: "rgb(0, 0, 0)",
font-color: "rgb(77, 11, 28)",
colorcayena: "rgb(250, 217, 93)",
colorlogo: "rgb(202, 228, 183)",
colormoya: "rgb(217, 181, 211)",
tipografia1: "rgb(205, 33, 53)",
tipografia2: "rgb(155, 28, 36)",
)


 