$width80: 80vw;
$width50: 50vw;
$width95: 95vw;
$width100: 100vw;
$width10: 10vw;
$font-size: 2vw;
$heightauto: auto;
$height10: 10vh;
$height3: 3vh;
$height100: 100vh;
$size1: 8vh;
$size2: 10vh;
$size3: 6vh;